.cart-btn {
  background-color: white;
  border: none;
  border-radius: 6px;
  width: 44px;
  height: 44px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}

.cart-btn:hover {
  background-color: #f0f0f0;
}



.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #e74c3c;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}